.images-edit-holder {
  .image {
    position: relative;
    i {
      cursor: pointer;
      background: #FFF none repeat scroll 0% 0%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      line-height: 145%;
      text-indent: 1px;
      &:hover {
        background: #000;
        color:#fff;
      }
    }
  }
  a {
    display: block;
    width:100%;
    img {
      width:100%;
    }
  }
  .remove-img  {
    position: absolute;
    top:10px;
    right:10px;
  }
  .edit-img  {
    position: absolute;
    top:10px;
    right:45px;
  }
  .save-crop  {
    position: absolute;
    top:10px;
    right:10px;
    z-index: 9999;
    display: none;
  }
}
.masonry-collection.test {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;

  .item-masonry {
    transform: translateZ(0);
  }
}