<template name="appBody">
    <head>
        <title>blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
        <link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v1.0.0/dist/cropper.min.css" rel="stylesheet">
        <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v1.0.0/dist/cropper.min.js"></script>
    </head>
    <body>
    <header>
        {{>yield region="header"}}
    </header>
    <div class="content container">
        {{> yield}}
    </div>
    <footer>
        {{>yield region="footer"}}
    </footer>
    </body>
</template>
