<template name="editPost">
    <form class="editSave">
        <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
        </div>
        <div class="form-group">
            <label >Content</label>
            <textarea rows="10" class="form-control" name="content" >{{content}}</textarea>
        </div>
        <div class="form-group">
            <label >Upload</label>
            <input class="fileUpload"  type="file" name="fileUpload" multiple >
        </div>
        <div class="form-group">
            <div class="row images-edit-holder">
                {{#each imagesSource}}
                    <div class="col-sm-4">
                        <div class="image">
                            <i class="remove-img fa fa-times"></i>
                            <i class="edit-img fa fa-crop"></i>
                            <i class="save-crop fa fa-save"></i>
                            <a href="{{this.url}}" target="_blank"><img width="300px" src="{{this.url}}" alt="" class="thumbnail" /></a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input checked="{{isActive}}" name="isActive" type="checkbox">Is the post active
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</template>
