<template name="home">
    <div class="row masonry-collection">
        {{#each posts}}
            <div class="col-md-3 col-sm-6 item-masonry">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{title}}</h2>
                        {{#with getFirstImage images}}
                            <img style="width: 100%;" src="{{this.url store='thumbs' uploading='/images/loader.gif' storing='/images/loader.gif' }}" alt="">
                        {{/with}}
                        <div class="row">
                            <div class="col-sm-6">
                                <i>{{autor}}</i>
                            </div>
                            <div class="col-sm-6 text-right">
                                {{createdAtFormatted date}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{shortContent content 30}}
                    </div>
                    <div class="panel-footer clearfix text-right">
                        <a href="{{pathFor 'editPost' postid=_id }}"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="deletePost"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>